html {
	height: 100%;
}
body {
	font-family: Tahoma;
	font-size: 12px;
	background: #ccc;
    margin: 0;
    height: 100%;
}
.site_wrap {
	background: rgb(255,255,255);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	width: 1000px;
	padding: 30px 40px;
	margin: 0 auto;
}
.title{
	margin: 0 0 30px;
	font-family: Tahoma;
}	
main {
	margin: 20px 0 0;
}
.main_menu {
    background-color: dimgrey;
    color: white;
    margin: 0;
    padding: 0;
}
.main_menu li{
	display: inline-block;
}
.main_menu li:hover{
	background: black;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.main_menu li a {
    text-decoration: none;
    color: white;
    font-family: Tahoma;
    padding: 10px 20px;
    display: inline-block;
}
.sidebar {
	width: 250px;
	float: left;
	-webkit-box-shadow: 9px -7px 7px -8px rgba(138,145,148,0.37);
	-moz-box-shadow: 9px -7px 7px -8px rgba(138,145,148,0.37);
box-shadow: 9px -7px 7px -8px rgba(138,145,148,0.37);

}
ul.sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid  #C0C0C0;
	border-bottom: none;
}
ul.sidebar-menu > li {
	border-bottom: 1px solid  #C0C0C0;
}
ul.sidebar-menu > li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: black;	
}

ul.sidebar-menu > li a:hover {
	background: #DCDCDC;
}

.content {
	width: 700px;
    float: left;
    margin: 0 0 0 50px;
}
.content img {
    border: 1px solid #696969;
    width: 100%;
	box-shadow: inset 9px 0px 7px 0px rgba(0,0,0, 1);
}
.content p{
	margin: 20px 15px 0;
}
.table_cont {
	clear: both;
	margin: 30px 0 0 0;
}
.table_cont > table  th {
	background: #ccc;
}
.table_cont > table  th a {
	color: black;
	font-weight: normal;
	text-decoration: none;
}
.table_cont > table  th a:hover{
	text-decoration: underline;
}